button {
    margin: 5px;
    padding: 10px;
}

#ratioDisplay, #suggestionDisplay {
    margin-top: 20px;
}

/* make styling responsive to screen size */
@media screen and (max-width: 600px) {
    #ratioDisplay, #suggestionDisplay {
        margin-top: 10px;
    }
}

img {
    max-width: 100%;
    height: auto;
}
